site_name: CoCoNuT
repo_url: https://github.com/pyfsi/coconut
edit_uri: ''
site_description: site_description
theme:
    name: 'material'
    logo: 'images/logo.png'
    feature:
        tabs: true
    favicon: 'assets/images/favicon.ico'
    palette:
        primary: 'green'
        accent: 'green'
markdown_extensions:
    - codehilite
    - pymdownx.arithmatex
extra_javascript:
    - 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'
nav:
    - README.md
    - SolverWrappers:
        - fluent.md
        - abaqus.md
        - python_solvers.md
    - TestExamples:
        - test_examples.md
        - Tube:
            - Fluent 2D - Abaqus 2D: tube_fluent2D_abaqus2D.md
            - Fluent 2D - Python: tube_fluent2D_tube_structure.md
            - Fluent 3D - Abaqus 3D: tube_fluent3D_abaqus3D.md
            - Python - Abaqus 2D: tube_tube_flow_abaqus2D.md
            - Python - Python: tube_tube_flow_tube_structure.md
            - Python - Python inert: tube_tube_flow_tube_structure_inert.md
    - Varia:
        - mappers.md
        - pykratos.md
        - docs.md
